<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Plant Logger" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  
  <body>
  <header style="background-color: #f0f0f0; padding: 10px; margin-bottom: 20px;">
    <nav>
      <%= link_to "生育記録", plant_logs_path, style: "margin-right: 15px;" %>
      <%= link_to "グラフ", dashboard_index_path, style: "margin-right: 15px;" %>
      <%= link_to "新しい記録を投稿", new_plant_log_path %>
    </nav>
  </header>

  <main class="container">
    <%= yield %>
  </main>
  <body>
  
</html>

